# List

In [1]:
#append function

a = [1,2,3,4]
print(a)
a.append(8)
print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 8]

In [3]:
#pop function

b = ['new','girls','heaven',1,2,3,4]
print(b)
b.pop()
b.pop(2)

['new', 'girls', 'heaven', 1, 2, 3, 4]

'heaven'

In [4]:
#length function

c = [2,3,4,5,6,6,7,8,9,0]
print(len(c))

10

In [5]:
#insert function

d = [1,2,3,4,5,6]
d.insert(2,'new')
print(d)

[1, 2, 'new', 3, 4, 5, 6]

In [6]:
#sum function

f = [2,3,4,5,6,6,7,8,9,0]
print(sum(f))

50

# Dictionary

In [7]:
#get function

p = {'name': 'bhawna', 'age': 23}

print('Name: ', p.get('name'))
print('Age: ', p.get('age'))

Name:  bhawna
Age:  23

In [8]:
#key function

p = {'name': 'bhawna', 'age': 23}
print(p['age'])

23

In [10]:
#pop function

age = { 'bhawna': 23, 'charul': 27, 'abhishek': 19 }

element = age.pop('bhawna')
print('The popped element is:', element)
print('The dictionary is:', age)

The popped element is: 23
The dictionary is: {'charul': 27, 'abhishek': 19}

In [11]:
#items function

sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }
print(sales.items())

dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])

In [12]:
#values function

sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }
print(sales.values())

dict_values([2, 3, 4])

# Tuple

In [14]:
#count function

a = (1,2,3,4,4,5,6,7,4)
print(a.count(4))

3

In [15]:
#index function

a = (1,2,3,4,5,6,7)
print(a.index(5))

4

# Sets

In [21]:
#pop function

name = {'b', 'h', 'a', 'n','a'}
print(name.pop())

h

In [23]:
#subset function

name = {'b', 'h', 'a', 'n','a'}
n1 = {'h','n'}
print(n1.issubset(name))

True

In [24]:
#remove function

regional = {'English', 'hindi', 'arabic'}

print(regional.remove('arabic'))

None

In [25]:
#disjoint function

A = {1, 2, 3, 4}
B = {5, 6, 7}

print(A.isdisjoint(B))

True

In [26]:
#nion function

A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
print(A.union(B))

{'c', 2, 'd', 'a'}

# Strings

In [28]:
#center fnction

new = "old is gold"
print(new.center(20, '#'))

####old is gold#####

In [30]:
#strip function

str = "*****hi everyone!how are you%%%%%"
print(str.lstrip('*'))
print(str.rstrip('%'))

hi everyone!how are you%%%%%
*****hi everyone!how are you

In [31]:
#format function

print("Hello {}, your balance is {}.".format("Monica", 230.2346))

Hello Monica, your balance is 230.2346.

In [32]:
#count method

str = "Python is awesome, isn't it?"
sub = "is"
print(str.count(sub))

2

In [33]:
#upper function

s1 = "bhawna jayant"
print(s1.upper())

BHAWNA JAYANT